<a href="https://colab.research.google.com/github/zzigun123/zzi-zzi-gun/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#2022학년도 1학년 1학기 프로그래밍(파이썬) 수행평가
#한양공업고등학교 1학년 12반 6번 백혜선

In [84]:
#1 . 변수 사용하기
삼성전자 = 50000
print("평가금액 = ", 삼성전자*10)

평가금액 =  500000

In [99]:
#2. 문자열을 정수로 변환
year = "2020"
print(int(year)-1)
print(int(year)-2)
print(int(year)-3)

2019
2018
2017

In [113]:
#3. 아래의 문자열에서 '홀'만 출력하세요.
string = "홀짝홀짝홀짝"
print(string[0], string[2], string[4])

홀 홀 홀

In [63]:
#4 문자열을 거꾸로 뒤집어 출력하세요.
s = 'PYTHON'
s[::-1]

'NOHTYP'

In [109]:
#5. movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.
#   "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [54]:
#6. 슬라이싱을 사용해서 홀수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list((range(1, 10, 2))))

[1, 3, 5, 7, 9]

In [105]:
#7. 리스트에 있는 값을 오름차순으로 정렬하세요.
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [114]:
#8. 문자열 출력
#변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1="김민수"
age1=10
name2="이철희"
age2=13
print("이름: %s 나이: %d"%(name1, age1))
print("이름: %s 나이: %d"%(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13